<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azzida">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ServicesApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/notification_icons" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/transparent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.azzida.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <activity
            android:name=".ui.activity.SplashScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="azzidaapp.page.link"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BackgroundChecker.BackgroundCheckerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".helper.StripeConnect"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ListingActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MyJobActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AddFeedActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.EditJobActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MyProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OptionsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.EditProfileNewActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DisputeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TransactionDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PaymentCheckOut"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".ui.activity.PaymentInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.JobSeekerApplyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.JobSeekerNotSelectedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.JobSeekerPostJobUserDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.JobListerDetailActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.ForgotActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ApplicantActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ApplicantlDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.JobCompleteActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".helper.CustomGooglePlacesSearch"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.notification.JobListerNotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notification.ChatNotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notification.JobSeekerNotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notification.MyProfileNotificationActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>